<!DOCTYPE html>
<html>
  <head>
    <title> Shops </title>
    meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">


         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="<%= shops_path%>">Home <span class="sr-only">(current)</span></a>
             </li>

             <li class="nav-item active">
               <a class="nav-link" href="<%= new_shop_path%>"> Ajouter </a>
             </li>
             <li class="nav-item active">
               <a class="nav-link disabled" href="/impoter">Importer Une base de données</a>
             </li>
 </ul>
           <%= form_tag shops_path, :method => :get do %>

               <%= text_field_tag :search, params[:search] %>
               <%= submit_tag "Search", :name => nil %>

           <% end %>


        </div>
 </nav>
 <div class="contrainer" style="padding-top: 5rem;">
    <%= yield %>
</div>
  </body>
</html>
